<div class="navbar bg-base-100 px-6">
  <div class="flex-1">
    <a class="btn btn-ghost text-xl" href="/">My Projects</a>
  </div>
  <div class="flex-none hidden lg:block">
    <ul class="menu menu-horizontal px-1">
      <li><a class="<%= (page == "/solutions/projects") ? 'active' : '' %>" href="/solutions/projects">View Projects</a></li>
      <li><a class="<%= (page == "/about") ? 'active' : '' %>" href="/about">About</a></li>
    <li><a class="<%= (page == "/solutions/addProject") ? 'active' : '' %>" href="/solutions/addProject">Add Project</a></li>

    </ul>
  </div>
</div>