<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>404 Not Found</title>
  <link rel="stylesheet" href="./css/water.css">

</head>
<body>

<div class="navbar bg-base-100">
  <div class="flex-1">
    <a class="btn btn-ghost text-xl" href="/">Climate Solutions</a>
  </div>
  <div class="flex-none">
    <ul class="menu menu-horizontal px-1">
      <li><a href="/about">About</a></li>
      <li>
        <details>
          <summary>Sector</summary>
          <ul class="p-2 bg-base-100">
            <li><a href="/solutions/projects?sector=Land Sinks">Land Sinks</a></li>
            <li><a href="/solutions/projects?sector=agriculture">Agriculture</a></li>
            <li><a href="/solutions/projects?sector=transport">Transport</a></li>
          </ul>
        </details>
      </li>
    </ul>
  </div>
</div>

<div class="container mx-auto p-6">
  <div class="hero min-h-screen bg-base-200">
    <div class="hero-content text-center">
      <div class="max-w-md">
        <h1 class="text-5xl font-bold">404 - Page Not Found</h1>
        <p class="py-6">Sorry, the page you're looking for doesn't exist.</p>
        <a class="btn btn-primary" href="/">Back to Home</a>
      </div>
    </div>
  </div>
</div>

</body>
</html>
